@model IEnumerable<ASPNET.Models.Departamento>;

@{
    ViewData["Title"] = "Departamentos";
}

<p>
    <a asp-action="Novo">Novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new {}) | 
                    @Html.ActionLink("Detalhes", "Detalhes", new {}) | 
                    @Html.ActionLink("Deletar", "Deletar", new {})
                </td>
            </tr>
        }
    </tbody>
</table>